extends layout

block content

    #control.navbar.navbar-inverse.bs-docs-nav

    #main-search
        form(action="/search",method="get",name="search")
            input#main-search-input(type="text",name="keyword")
            h3 任务状态
            .btn-group#taks-type-container
                button#task-type(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle
                    span.type  全部
                    span.caret(style="margin-left:14px;")
                ul.dropdown-menu
                    li
                        a 所有
                    li
                        a 审核中
                    li
                        a 返改
                    li
                        a 通过
                    li
                        a 关闭
            div#time-select
                h3 时间
                div
                    button#start-time(type="button").btn.btn-info 开始时间：
                        span 未设置
                div
                    button#end-time(type="button").btn.btn-info 结束时间：
                        span 未设置
            br
            button#start-time(type="submit").btn.btn-default.btn-large 开始搜索
    #container
        #task-list-wrapper
            #task-list.list-group.J-task-list
        #task-process-content
        h1.task-title.J-current-task-title
        #content
        - if(isLogin)
            form(action="/add-task-of-design-process",method="post",name="add-task-of-design-process",style="display:none;")
                div
                    select(name="type")
                input#add-task-of-process-id(type="hidden",name="_id",value="")
                textarea(type="text",name="content",placeholder="您可以在这里写上更多的说明")
                label.upload-file-field-label(for="upload-file-field") 插入附件
                input#upload-file-field(type="file",multiple="multiple")
                #p
                #preview-file
                #upload-list
                .J-alert.alert(style="display:none;")
                    | 请
                button.btn.btn-primary.J-add-task-of-design-process(type="button") 提交
    script
        var page_is_login=#{isLogin};
