extends layout

block content

    #control.navbar.navbar-inverse.bs-docs-nav

    #sidebar
        h1
            span.J-current-name #{name}
        .list-group.J-task-list
    #container
        #content
        - if(isLogin)
            form(action="/add-task-of-design-process",method="post",name="add-task-of-design-process",style="display:none;")
                div
                    select(name="type")
                input#add-task-of-process-id(type="hidden",name="_id",value="")
                textarea(type="text",name="content",placeholder="您可以在这里写上更多的说明")
                label.upload-file-field-label(for="upload-file-field") 插入附件
                input#upload-file-field(type="file",multiple="multiple")
                #p
                #preview-file
                #upload-list
                .J-alert.alert(style="display:none;")
                    | 请
                button.btn.btn-primary.J-add-task-of-design-process(type="button") 提交
    script
        var page_is_login=#{isLogin};
