doctype 5
html
    head
        title= title
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/google-bootstrap.css')
        link(rel='stylesheet', href='css/global.css')
    body
        block content
        script(src="/jquery-1.9.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/sea.js",data-main="/task/init",data-config="/config")
