doctype 5
html
    head
        title= title
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet",href="/global/reset.css")
        link(rel="stylesheet",href="/global/global.css")
    body
        block content
        #navigation
            a.current 自己
            a.J-group-panel-triggers 组长
            a 业务方
        #senior

        script(src="/global/jquery-2.0.0.min.js")
        script(src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js")
        script(src="/sea.js",data-main="/init",data-config="/config.js?r=323423232")
