extends layout

block content
    h1 TASK#{docs.name}
    pre #{html}
    h1 对#{docs.name}发表意见
    form.form-horizontal(action="/add-task-process",method="post")
        .control-group
            label.control-label 意见
            .controls
                | 可以拖放图片或任何附件到下方文本框，以便上传。
                textarea(type="text",name="content",style="height:200px;")
        .control-group
            .controls
                button.btn.btn-primary(type="submit") 发表意见
