#header {
    background: #34495e;
    height: 50px;
    font-family: verdana, sans-serif;
}

#header a {
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    text-decoration: none;
}

#header a:hover {
    color: #1abc9c;
}

