.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ks-overlay-hidden {
    visibility: hidden;
}

.ks-overlay-mask-hidden {
    display: none;
}

.ks-overlay-shown {
    visibility: visible;
}

.ks-overlay-mask-shown {
    display: block;
}

.ks-dialog {
    background: #fff;
    padding: .8em;
    border: solid 1px #1abc9c;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.ks-dialog a.ks-ext-close {
    position: absolute;
    right: .5em;
    top: .5em;
    text-decoration: none;
    color: #1abc9c;
}

.ks-dialog .ks-stdmod-header {
    font-weight: bold;
    text-align: center;
    padding: 5px 0 12px 0;
    font-size: 22px;
}

.ks-overlay-mask-shown {
    background: rgba(255, 255, 255, .5);
}

#control {
    background: #b94a48;
}

#control .navbar-nav > li > a {
    color: #e6cac8;
    cursor: default;
}

#control .navbar-nav > li > a:hover {
    color: #fff;
}

#control .navbar-nav > .active > a, #control .navbar-nav > .active > a:hover {
    background-color: #993c3a;
    color: #fff;
}

#sidebar {
    position: fixed;
    width: 230px;
    left: 0;
    top: 50px;
}

#container {
    margin-left: 260px;
    margin-right: 12px;
}

form[name=add-task-of-design-process] {
    width: 500px;
}

h1{
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    margin-bottom: 0!important;
}