.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ks-overlay-hidden {
    visibility: hidden;
}

.ks-overlay-mask-hidden {
    display: none;
}

.ks-overlay-shown {
    visibility: visible;
}

.ks-overlay-mask-shown {
    display: block;
}

.ks-dialog {
    background: #fff;
    padding: .8em;
    border: solid 1px #ccc;
    background: #f8f8f8;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.ks-dialog a.ks-ext-close {
    position: absolute;
    right: .5em;
    top: .5em;
    text-decoration: none;
    color: #357ebd;
}

.ks-dialog .ks-stdmod-header {
    font-weight: bold;
    text-align: center;
    padding: 5px 0 12px 0;
    font-size: 22px;
}

.ks-overlay-mask-shown {
    background: rgba(0, 0, 0, .5);
}

#control {
    background: #b94a48;
}

.navbar {
    border-radius: 0 !important;
}

#control .navbar-nav > li > a {
    color: #e6cac8;
    cursor: default;
}

#control .navbar-nav > li > a:hover {
    color: #fff;
}

#control .navbar-nav > .active > a, #control .navbar-nav > .active > a:hover {
    background-color: #993c3a;
    color: #fff;
}

#task-process {
    margin-bottom: 1em;
}

#task-list-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#main-search {
    position: absolute;
    left: 5px;
    top: 66px;
    width: 230px;
    height: 200px;
    font-family: "Microsoft Yahei",sans-serif;
}

#main-search-input {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    left: 248px;
    top: 66px;
    right: 10px;
}

h1 {
    font-family: "Microsoft Yahei", sans-serif !important;
    font-size: 30px !important;
}

#content dl dt {
    margin: 1em auto
}

#content dl dt {
    padding: 1em;
}

#content div.files {
    padding: 12px;
}

#content div.files a {
    margin-right: 1em;
    font-family: Consolas, sans-serif;
}

#upload-list {
    font-size: 12px;
    font-family: simsun, sans-serif;
    margin-bottom: 1em;
}

#upload-list .file {
    display: inline-block;
    width: 24%;
    background: #eee;
}

label.upload-file-field-label {
    margin: 1em auto;
    font-weight: normal;
    color: blue;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

input#upload-file-field {
    display: none;
}

form[name=add-task-of-design-process] select.type {
    margin: 0 1em 0 0;
}

form[name=add-task-of-design-process] .progress {
    height: auto;
    margin-bottom: 0;
    border-radius: 0;
}

form[name=add-task-of-design-process] .progress-bar {
    text-align: left;
    padding: 2px 0;
    white-space: nowrap;
    text-shadow: none;
    color: #000;
}

form[name=add-task-of-design-process] .progress-bar span {
    margin-left: 1em;
}

#sidebar a.list-group-item {
    font-size: 12px;
}

#navigation {
    position: fixed;
    left: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    height: 11px;
    width: 11px;
    margin: 1em;
    padding: 1em;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    padding-top: 100
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05)
}

